@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  box-sizing: border-box;
}

#root, #footer-bar {
  font-family: 'Montserrat', sans-serif !important;
}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-checked .ant-checkbox-inner:hover {
  background-color: #3f3f3f !important;
  border-color: #f0f8ff87 !important;
}
input.ant-input , .login-input input{
  background-color: #fff !important;
  font-size: 14px !important;
  font-family: 'Poppins-Light', 'Poppins Light', 'Poppins', sans-serif !important;
  font-weight: 200;
}
.ant-form-item-explain-error{
  color: #c04040 !important;
  font-family: "Poppins-Light", "Poppins Light", "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 19px !important;
}
.ant-input-status-error,.ant-select-status-error,
:where(.css-dev-only-do-not-override-1s3dcof).ant-input-affix-wrapper-status-error:not(:where(.css-dev-only-do-not-override-1s3dcof).ant-input-affix-wrapper-disabled):not(:where(.css-dev-only-do-not-override-1s3dcof).ant-input-affix-wrapper-borderless):where(.css-dev-only-do-not-override-1s3dcof).ant-input-affix-wrapper,
:where(.css-dev-only-do-not-override-1s3dcof).ant-input-status-error:not(:where(.css-dev-only-do-not-override-1s3dcof).ant-input-disabled):not(:where(.css-dev-only-do-not-override-1s3dcof).ant-input-borderless):where(.css-dev-only-do-not-override-1s3dcof).ant-input {
  margin-bottom: 10px !important;
}
.ant-form-item-label label {
  font-family: "Poppins-Regular", "Poppins", sans-serif !important;
  color: #666666 !important;
}
.ant-checkbox-group-item:hover .ant-checkbox-inner{
  border-color: #3f3f3f !important;
}
.logo {
  color: aliceblue;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif !important;
  cursor: pointer;
}
.user-profile {
  background-color: aliceblue;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.user-profile:hover {
  background-color: aquamarine;
}
.cancel-button {
  background-color: #ffdede;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.cancel-button:hover {
  background-color: #ffb6b6;
}
.filter-card {
  border-radius: 0px;
  height: 100%;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: 2px solid #f0f0f0;
  background: #fff0;
}

.filter-card .ant-card-body {
  padding-top: 0px !important;
  padding-right: 0px !important;
}
.category-filter-wrapper {
  max-height: 70vh;
  overflow-y: auto;
}
.category-filter {
  display: flex;
  flex-direction: column;
}
.category-filter .ant-checkbox-group-item {
  font-family: 'Montserrat', sans-serif !important;
  margin: 5px 0 0 0;
  font-size: 16px !important;
  color: #3f3f3f;
}
.category-filter .ant-checkbox-group-item:hover, .category-filter .ant-checkbox-wrapper-checked {
  font-weight: 500;
}
.category-title {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif !important;
}

.news-wrapper-title {
  color: #3f3f3f;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}
.news-card-wrapper {
  display: flex;
  flex-direction: column;
}
.news-card {
  margin-bottom: 15px;
  cursor: pointer;
  background: #ffffff87 !important;
  border: 2px solid #fff;
  transition: .2s ease-in-out;
}
.news-card:hover, .agency-card:hover {
  box-shadow: 0 0 15px #8ec3f1;
  margin-top: -2px;
}

.news-title{
  font-size: 1.7em;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif !important;
  margin-bottom: 15px;
  max-height: 3.6em; 
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.news-description {
  color: #3f3f3f;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif !important;
  max-height: 4.5em; /* Set line height multiplied by max lines */
  overflow: hidden;
  line-height: 1.5em; /* Set desired line height */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.news-description img {
  display: none;
}
.news-description-feed {
  color: #3f3f3f;
  font-family: 'Montserrat', sans-serif !important;
  max-height: 7.5em; /* Set line height multiplied by max lines */
  overflow: hidden;
  line-height: 1.5em; /* Set desired line height */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.read-more {
  margin-left: 24px;
  font-size: 20px;
  color: #0026ff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif !important;
}

.posted-on {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 12px;
}
.posted-on span {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
}

.news-page-title {
  font-size: 32px;
  max-width: 80%;
  margin: 20px 0 50px 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif !important;
}
.news-page-description {
  border-left: 3px solid #1cdafc;
  display: flow-root;
  padding-left: 20px;
  font-size: 20px;
  max-width: 80%;
  line-height: 1.5em;
  word-spacing: .7em;
  font-family: 'Montserrat', sans-serif !important;
}
.news-page-description img {
  max-height: 200px;
  max-width: 50%;
  padding-right: 20px;
}
.news-tags {
  margin: 20px 0 20px 20px;
}

.news-page-tags {
  font-size: 16px;
  padding: 5px 15px 5px 15px !important;
  font-family: 'Montserrat', sans-serif !important;
}

.login-page {
  height: 82vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.login-title {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif !important;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.login-card {
  width: 450px;
  padding: 0 20px;
  box-shadow: 0 0 15px  #dcdcdc;
  background: #ffffff87 !important;
  border: 2px solid #fff;
}

.login-button {
  margin-top: 15px;
  padding: 4px 15px;
}
.login-button:hover {
  box-shadow: 5px 5px 0  #dcdcdc;
  padding: 5px 18px;  
}
.news-container {
  min-height: 67vh;
}

.ant-tabs .ant-tabs-nav {
  min-width: 200px !important;
}
.ant-tabs-tab {
  padding-left: 24px ;
  font-family: 'Montserrat', sans-serif !important;
  margin: 5px 0 0 0;
  font-size: 16px !important;
  color: #3f3f3f;
  transition: 0.4s ease-in-out all;
}

.ant-tabs-tab-active {
  padding-left: 4px !important ;
  border-radius: 50px 0 0 50px;
  border-left: 30px solid #1678fe !important;
  border-right: 5px solid #1678fe !important;
  transition: 0.4s ease-in-out all;
}
.ant-tabs-tab-active span {
  transition: 0.4s ease-in-out all;
  margin-left: -14px !important;
}

.admin-right-section-title {
  color: #3f3f3f;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}
.admin-right-section-title span{
  height: 50px;
}
.news-count{
  font-size: 20px;
  margin-left: 20px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #1678fe;
  background: #fff;
  height: unset !important;
}
.admin-right-section-title span img {
  max-width: 150px;
 height: 100%;

}

.category-tag-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
}

.category-tag {
  padding: 10px 20px;
  font-size: 20px;
  border-left-width: 10px !important;
  border-right-width: 10px !important;
  border-radius: 20px 0 20px 0;
  border: 2px solid #1678fe;
  background-color: #ffffff87 !important;
  transition: .1s ease-in-out;
}
.category-tag:hover {
  box-shadow: 0 0 15px #8ec3f1;
  border-radius: 0;
  cursor: pointer;
}
.add-category {
  margin-top: 50px;
  max-width: 300px;
}

.agency-card-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.agency-card {
  position: relative;
  width: 300px;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 15px;
  background: #ffffff87 !important;
  border: 2px solid #fff;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 15px  #dcdcdc;
}

.agency-name {
  color: #3f3f3f;
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}
.agency-category {
  color: #3f3f3f;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

.agency-logo img {
  max-width: 100%;
  max-height: 100px;
}
.add-agency-title{
  color: #3f3f3f;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}
.agency-update-logo {
  position: absolute;
  top: 12px;
  right: 12px;
}

.news-table {
    border-radius: 10px !important;
    border: 2px solid #fff;
    padding: 15px;
    background: #f0f8ff42;
    box-shadow: 0 0 15px #00000008;
}
.ant-select-item-option, .ant-select-selection-item, .ant-pagination-item, .table-tags {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif !important;
}
.table-tags {
  line-height: 15px;
}

.news-table td{
  font-family: 'Montserrat', sans-serif !important; 
}
.table-news-tiitle {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif !important;
  max-height: 4.5em; /* Set line height multiplied by max lines */
  overflow: hidden;
  line-height: 1.5em; /* Set desired line height */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.manage-news-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.download-button {
  background-color: aquamarine;
  font-family: 'Montserrat', sans-serif !important;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #6b6b6b71;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.download-button:hover, .add-news:hover {
  box-shadow: 0 0 10px #323232a5;
  margin-bottom: 2px;
}
.add-news {
  background-color: #1678fe;
  color: #fff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif !important;
  border: 1px solid #1678fe;
  box-shadow: 0 0 5px #6b6b6b71;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.add-news-modal {
  border-radius: 10px !important;
  border: 2px solid #fff;
  padding: 15px !important;
  background: #f0f8ff42;
  box-shadow: 0 0 15px #00000008;
}
.modal-title {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif !important;
}